<form action="/users/signup" method="POST">
    <label>first name
        <input type="text" name="first_name" placeholder="first name" autocomplete="off" required/>
    </label>

    <label>last name
        <input type="text" name="last_name" placeholder="last name" autocomplete="off" required/>
    </label>

    <label>email
        <input type="email" name="email" placeholder="email address" autocomplete="off" required/>
    </label>

    <label>password
        <input type="password" name="password" placeholder="password" autocomplete="off" required/>
    </label>

    <button type="submit">signup</button>
</form>