<div class='container'>
    <div class='restaurant-container'>
        <div class="restaurant-header">
            ${idData.map(restaurant => {
                return `
                    <p>Food Type: ${restaurant.category}</p>
                `
            }).join('')}
            <h2>Reviews</h2>    
        </div>
        <div class="review-form-wrapper">
            <form action="/" method="POST">
                <input type="hidden" name="restaurant_id" value=${idData[0].id}>
                <label>Title
                    <input type="text" name="review_title" placeholder="Review Title" autocomplete="off"/>
                </label>
                <label>Stars
                    <select name="review_stars">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
                <label>My Review
                    <textarea name="review_text" placeholder="My review of this restaurant..." autocomplete="off"></textarea>
                </label>
                <button type="submit">Save Review</button>
            </form>
        </div>

            ${reviewData.map(review => {
                return `
                <div class='review-body'>
                    <h3>${review.title}</h3>
                    <h5>${review.name} <span>${review.karma}</span></h5>
                    <p>${review.review}</p>
                </div>
                `
            })}
            <a href="/"><p class="form-tagline">Return home</p></a>
    </div>
</div>