<div class="container">
    <div class="form-page">
        <form action="/users/signup" method="POST">
            <label for="first_name">first name</label>
            <input type="text" name="first_name" placeholder="first name" autocomplete="off" required/>
        
        
            <label for="last_name">last name</label>
            <input type="text" name="last_name" placeholder="last name" autocomplete="off" required/>
        
            <label for="email">email</label>
            <input type="email" name="email" placeholder="email address" autocomplete="off" required/>
        
            <label for="password">password</label>
            <input type="password" name="password" placeholder="password" autocomplete="off" required/>
        
            <button type="submit">Create my Account</button>
        </form>
    </div>
</div>