/* General Styles */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}


body {
  font: 25px 'Abel', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.2) 75%), url(../img/restaurant.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
  color: gold;
}

.main { 
  min-height: calc(100vh - 120px);
}

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* HEADER STYLES */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  padding-left: 25px;
}

nav {
  padding: 25px;
}
nav a {
  margin: 0;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 20px 20px 0 10px;
  border-radius: 2px;
} nav a:hover {
  color: #fff;
  transition: 1s;
}

.title {
  font-family: 'Pacifico', cursive;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px #000;
  color: rgb(192, 0, 0);
  font-size: 2em;
  opacity: 0.85;
} .title:hover {
  opacity: 1;
  transition: 1s;
}

/* Main Page Styles */
.main-page {
  flex-direction: column;
  width: 100%;
}

.main-page p {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  cursor: pointer;
  margin: 10px auto;
  width: 50%;
  font-size: 1.2em;
  text-align: center;
  opacity: 0.8;
  border-radius: 2px;
  border: 1px solid gold;
} .main-page p:hover {
  opacity: 1;
  transition: 1s;
  border: 1px solid transparent;
} .main-page p:active {
  transform: scale(0.99);
  transition: 0.5s;
}



/* Restaurant Page Styles*/
.restaurant-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border-radius: 2px;
  width: 80%;
}

.restaurant-container a:hover {
  color: rgb(192, 0, 0);
  transition: 1s;
}

.restaurant-header {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 217, 0, 0.5);
  border-radius: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;;
}.restaurant-header p {
  padding: 5px;
  margin: 5px;
}.restaurant-header h2 {
  font-family: 'Pacifico', cursive;
  font-size: 1em;
  font-weight: 100;
  margin-right: 15px;
}

.review-form-wrapper {
  border: 1px solid rgba(255, 217, 0, 0.5);
  background: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  border-radius: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.review-form-wrapper input {
  outline: none;
  width: 50%;
  height: 30px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  border: none;
  padding: 0 10px;
  margin: 0 20px;
}

.review-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.review-title select {
  margin-left: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  height: 30px;
  width: 45px;
  color: gold;
  text-align: center;
  font-size: 0.7em;
}

.review-body {
  display:flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  flex-direction: column;
}.review-body textarea {
  width: 90%;
  height: 100px;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 20px;
  margin-top: 5px;
  font-size: 0.5em;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.review-list-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 217, 0, 0.5);
  width: 100%;
  margin-bottom: 10px;
} .review-list {
  margin: 20px 0;
  width: 90%;
}.review-list h3 {
  padding: 0;
  text-transform: uppercase;
} .review-list h5 {
  text-transform: uppercase;
  padding: 0;
  color: gold;
} .review-list p {
  font-size: 0.7em;
} .review-list span {
  background: gold;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  color: #000;
}

.form-page {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 217, 0, 0.5);
  display: flex;
  border-radius: 2px;
  flex-direction: column;
  color: red;
  align-items: center;
  padding: 25px;
  width: 500px;
  margin: 10px 0px 25px 0px;
} .form-page h1 {
  font-size: 1em;
  color: #fff;
}.form-page label {
  text-transform: uppercase;
  font-size: 0.5em;
  margin-top: 10px;
  padding: 10px;
  width: 350px;
}.form-page input {
  padding: 10px;
  font-size: 1em;
  outline: none;
  border: none;
  width: 350px;
  color: #fff;
  border-bottom: 2px solid #fff;
  background: none;
} .form-page input::placeholder {
  font-size: 0.75em;
  text-transform: uppercase;
}.form-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.form-page button,
.review-body button {
  outline: none;
  border: none;
  padding: 20px 40px;
  border-radius: 2px;
  color: #222;
  text-transform: uppercase;
  font-size: 0.5em;
  margin: 50px 0 25px 0;
  background-color: gold;
  cursor: pointer;
  opacity: 0.95;
} 

.form-page button:hover,
.review-body button.title:hover {
  transform: scale(0.99);
  opacity: 1;
} .form-page button:active,
.review-body button:active {
  transform: scale(0.97);
  text-shadow: inset 5px 5px 5px #000;
}

.form-tagline {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.5em;
  margin-bottom: 10px;
} .form-tagline:hover {
  color: red;
  transition: 1s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 575px) {
  nav {
    padding: 0;
    font-size: 0.8em;
  }

  header {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .brand {
    margin: 0 auto;
  }

  .main-page p {
    width: 70%;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  .form-page {
    font-size: 0.9em;
    width: 70%;
  }

  .form-page label {
    width: 75%;
  }

  .form-page input {
    font-size: 0.7em;
    width: 75%;
  }

  .form-page button {
    font-size: 0.75em;
    width: 80%;
    border-radius: 5px;
    color: #333;
  }

  .restaurant-container {
    font-size: 0.8em;
  }

  .restaurant-header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .restaurant-header p {
    margin: 0;
    padding: 0;
  }

  .review-form-wrapper {
    padding: 10px;
  }

  .review-form-wrapper button {
    color: #333;
    transform: scale(0.9);
    width: 100%;
    margin: 15px 0 10px;
    border-radius: 5px;
    font-size: 0.75em;
  }

  .review-form-wrapper input {
    width: 35%;
  }

  .review-form-wrapper textarea {
    padding: 5px;
    width: 85%;
  }

  .review-list-wrapper {
    padding: 10px;
  }

  .review-list-wrapper h3 {
    font-size: 0.9em;
  }
}